* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    position: relative;
    height: auto;
    font-weight: 400;
    background-color: #4e32bdfa; /* Set a plain black background */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    background: rgba(63, 44, 146, 0.5); /* Make header semi-transparent for better visibility */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.title {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .download-button {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 150px;
    transition: .5s;
}

.navigation .download-button:hover {
    background: #162938;
    color: #fff;
}

.type-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.type-buttons .btn {
    width: 100px;
    height: 50px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}
.type-buttons .btn.active {
    background-color: #007bff;
    color: #fff;
}
.date-picker {
    margin-bottom: 20px;
}

.wrapper {
    position: fixed; /* Change to fixed to keep it centered when scrolling */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 440px;
    background: #fff;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    z-index: 100;
}

.wrapper.active-popup {
    transform: scale(1) translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
    margin: 10px;
}
.input-box .username-label {
    color: #162938; /* Change the color of the Username text */
    font-size: 1em; /* Adjust the font size as needed */
    font-weight: 500; /* Adjust the font weight if needed */
    margin: 5px; /* Adjust the margin if needed */
    top: 40%;
}

.input-box .username-label2 {
    color: #162938; /* Change the color of the Username text */
    font-size: 1em; /* Adjust the font size as needed */
    font-weight: 500; /* Adjust the font weight if needed */
    margin: 35px; /* Adjust the margin if needed */
    top: 40%;
}

.input-box {
    position: relative;
    text-align: center;
    width: 100%;
    height: 140px;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 5px 0 5px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.left-container {
    height: 100vh;
    background: transparent; /* No solid background color */
    position: relative;
}

.right-container {
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 20px;
    background: transparent; /* No solid background color */
}

.form-container {
    position: relative; /* This positions the form-container relative to right-container */
}

.header {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.sub-text {
    font-size: 22px;
    font-weight: 400;
}

.month-container {
    padding-top: 25%;
    padding-left: 5%;
    padding-right: 5%;
}

.calc-container {
    padding-top: 12%;
    padding-left: 5%;
    padding-right: 5%;
}

.fs-white {
    color: #ffffff;
}

.fs-dark-grey {
    color: #fff;
}

.budget-container {
    display: inline-block;
    background-color: #162938;
    border-radius: 8px;
    box-shadow: 0 6px 4px #000000;
    padding: 10px 20px;
}

.month-amount {
    font-size: 36px;
    font-weight: 700;
}

.bottom-border {
    border-bottom: 1px solid #fff;
}

.expense-row {
    padding: 10px;
}

.expense-row div {
    padding: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

button {
    cursor: pointer;
}

.chart-container {
    padding: 5%;
}

.tracking-text {
    color: #fff;
}

.expense-description {
    font-size: 20px;
    font-weight: 400;
}

.expense-value {
    font-size: 22px;
    font-weight: 400;
    color: #ee3a3a;
}

.expense-type {
    font-size: 20px;
    font-weight: 500;
    color: #009242;
}
.expense-row {
    padding: 10px;
    display: flex; /* Align children horizontally */
    justify-content: space-between; /* Space out the children */
    align-items: center; /* Align items vertically */
}

.expense-row .icon-trash {
    cursor: pointer;
    color: #fff; /* Red color for the trash icon */
    font-size: 1.5em; /* Adjust size as needed */
}

.expense-row .icon-trash:hover {
    color: #162938; /* Darker red on hover */
}
.icon-edit {
    cursor: pointer;
    color: #fff; 
    font-size: 1.5em; 
    margin-left: 10px; 
}

.icon-edit:hover {
    color: #162938; 
}


.chart-container {
    background-color: #ffffff95; 
    border-radius: 12px;    
    padding: 60px;          
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: inline-block;  
    margin: 50px auto;           
    max-width: 90%;         
    border: 5px solid #162938;
}

.input-expense-description, .input-expense-value {
    position: relative;
    width: 100%;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: transparent; 
    color: #fff; 
    font-size: 16px;
    padding: 0 15px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}


/* Focus and hover effects for input fields */
.input-expense-description:hover,
.input-expense-value:hover,
.input-expense-description:focus,
.input-expense-value:focus {
    border-color: #162938; 
    box-shadow: 0 0 8px #162938; 
    background-color: rgba(22, 41, 56, 0.5); 
    transform: translateY(-5px); 
}

/* Label styles for floating effect */
.input-expense-description::placeholder, 
.input-expense-value::placeholder {
    color: #fff; 
}

/* Focus effect for input fields */
.input-expense-description:focus, 
.input-expense-value:focus {
    border-color: #162938; /* Border color on focus */
    background-color: rgba(22, 41, 56, 0.5); /* Slightly different background on focus */
    transform: translateY(-5px); /* Slight upward movement on focus */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional shadow for depth */
}

/* Footer */
footer {
    background: linear-gradient(to bottom, #162938 0%, #162938 50%, #162938 100%);
    color: #fff;
    padding-top: 10px;
}

footer a {
    color: #fff;
}

footer .content {
    display: flex;
    justify-content: space-between;
}

footer .left p {
    margin-top: 0;
}

footer .right {
    display: flex;
    gap: 40px;
}

footer h3 {
    margin-top: 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 8px 0;
}

footer .copyright {
    border-top: 1px solid rgba(255, 255,255, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

footer .socials {
    display: flex;
    gap: 40px;
}

.socials a {
    margin: 0 5px; /* Space between icons */
    color: white; /* Icon color */
    text-decoration: none;
}

.socials ion-icon {
    font-size: 30px; 
    transition: transform 0.2s; 
}
.quick-links-title {
    font-size: 20px; 
    font-weight: bold; 
    margin-bottom: 10px; 
    text-align: left;
}

.socials ion-icon:hover {
    transform: scale(1.1); 
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .left-container, .right-container {
        width: 100%;
    }
}
main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    overflow-y: auto; 
}

.social-link {
    display: inline-block; 
    margin: 0 10px; 
    font-size: 32px; 
    color: #162938; 
    transition: transform 0.3s ease, color 0.3s ease; 
    position: relative; 
}

.social-link::before {
    content: ""; 
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.1); 
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.3s ease; 
}

.social-link:hover::before {
    width: 50px;
    height: 50px;
}

.social-link:hover {
    transform: translateY(-5px);
}   

.social-link:nth-child(1) {
    color: #162938; 
}

.social-link:nth-child(1):hover {
    color: #128deb; 
}

.social-link:nth-child(2) {
    color: #162938; 
}

.social-link:nth-child(2):hover {
    color: #162938; 
}

.social-link:nth-child(3) {
    color: #162938; 
}

.social-link:nth-child(3):hover {
    color: #162938; 
}

.date-container {
    display: flex;
    align-items: center;
    position: relative; 
}

.date-label {
    font-size: 16px;
    color: #fff;
    margin-right: 10px;
}

.input-expense-date {
    width: 100%;
    max-width: 250px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    padding-right: 35px; 
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}



.input-expense-date:hover,
.input-expense-date:focus {
    border-color: #162938; 
    box-shadow: 0 0 8px #162938; 
}

.input-expense-date:focus + .calendar-icon {
    transform: translateY(-50%) scale(1.1);
}

.input-expense-date:hover + .calendar-icon {
    color: #162938; 
}
